*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Shentox";
    src: url(../Fonts/Shentox\ Medium.ttf);
}

@font-face {
    font-family: "Avalon";
    src: url(../Fonts/AvalonB.ttf);
}

a,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
}

/* Navbar */

.top-navbar {
    background-color: rgb(19, 19, 19);
    height:32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.top-main > li,
.top-right > li {
    display: inline-block;
    margin: 4px;
}

.top-navbar a,
.top-navbar a:visited {
    color: hsla(0,0%,100%,.6);
}

.top-navbar a:hover {
    color: #fff;
}

.second-nav {
    height: 48px;
    font-family: 'Shentox';
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.second-nav a,
.second-nav a:focus,
.second-nav a:visited {
    color: #aaa;
}

.second-nav a:hover {
    color: #111;
}

.center-left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-left-nav > li{
    display: inline-block;
    text-transform: uppercase;
    padding: 0 12px;
}

.center-left-nav > li:nth-of-type(2){
 padding-left: 20px;
}

.center-right-nav {
    display: flex;
    width: 50px;

}
.center-right-nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 48px;
    border-left: 1px solid #aaa;
}

.center-right-nav > a:nth-of-type(2) {
    display: none;
}

.fa-search {
    transform: rotate(90deg);
    font-size: 16px;
}

#nav-logo {
    padding: 0;
    margin: 0;
    display: none;
}

#search:hover {
    color: #444;
}

#tech-fest {
    display: block;
    width: 100%;
    background-color: #ffe712;
    line-height: 2.1;
    color: #000;
    padding-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#tech-fest:focus,
#tech-fest:hover,
#tech-fest:visited {
    color: #000;
}

/* Navbar ends above.*/

/* Cover story section starts here */

.cover-story-container {
    height: 75vh;
    max-height: 560px;
    margin: 0 auto;
    padding: 4px;
    font-family: "Avalon";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4px;
}

.cover-story {
    grid-row: span 1;
    grid-column: span 1;
}

.cover-story:nth-child(2) {
    background-image: url(../images/tnwconf-smalltop.jpg);
    background-size: cover;
}

.cover-story:nth-child(3) {
    background-image: url(../images/shooter.png);
    background-size: cover;
}

.cover-story-link {
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0,0,0,.25) url('../images/image-gradient.png') no-repeat;
    background-size: 100% 100%;
}

.large-story {
    justify-content: space-between;
    font-size: 1.5em;
}

#large-cover {
    background-image: url(../images/designers-div1.png);
    background-size: cover;
    grid-row: span 2;
    grid-column: span 2;
}

.cover-story-container a,
.cover-story-container a:visited,
.cover-story-container a:hover,
.cover-story-container a:focus {
    color: #fff;
}

.dateandlogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cs-date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.cover-header {
    display: flex;
    flex-direction: column;
}

.cs-category {
    font-family: "Shentox";
    font-size: 16px;
    padding-bottom: 5px;
}

.cs-title {
    font-size: 1.6em;
    padding-bottom: 15px;
}

.cover-story-info > li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.cover-story-info > li:nth-child(2),
.cover-story-info > li:nth-child(3) {
    padding: 0 6px;
}

/* Cover stories end here */

/* Main wrapper */

.wrapper {
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
}

.ad-unit {
    width: 100%;
    margin: 30px 0;
    border: 2px solid #fff;

}

/* Latest news */
.latest {
    margin-bottom: 56px;
}

.latest-news {
    margin-bottom: 24px;
    font-family: "Avalon";
}

.latest-news-link,
.latest-news-link:visited,
.latest-news-link:focus {
    font-size: 28px;
    color: #f42;
    line-height: 1.1;
    font-weight: bold;
}

.latest-news-link:hover {
    color: #000;
}

/* Story list items */

.latest-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.latest-list-item {
    display: flex;
    flex-direction: column;
}

.latest-list-item img {
    max-width: 270px;
}

.latest-list-item > * {
    padding: 2px 0;
}

.lli-tlink,
.lli-tlink:focus,
.lli-tlink:visited {
    font-family: "Avalon";
    font-size: 16px;
    color: #000;
}

.lli-tlink:hover {
    color: #f42;
    text-decoration: underline;
}

.lli-author-day {
    font-family: "Arial";
    font-size: 13px;
    color: #aaa;
}

.lli-author-day a,
.lli-author-day a:focus,
.lli-author-day a:visited {
    color: #aaa;
}

.lli-author-day a:hover {
    color: #666;
}

.lli-author-day > li {
    display: inline-block;
}

/* Latest news ends here */

/* Deals section starts here */
.deals {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 240px;
    justify-content: space-between;
    grid-gap: 20px;
    min-width: 100%;
}

.funding-banner {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
}

.funding-banner a,
.funding-banner a:visited {
    color: #f42;
}

.funding-banner a:hover {
    color: #111;
    text-decoration: underline;
}

.funding-title {
    font-family: "Avalon";
    font-size: 28px;
}

.funding-rounds-nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;    
}

.funding-rounds-nav li {
    display: inline-block;
    border-left: 1px solid #f42;
    margin-top: 9px;
    padding: 0 12px;
}

.funding-rounds-nav li:nth-of-type(1) {
    border: none;
}

.company {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 270px;
}

.company-funding {
    position: relative;
    display: block;
}

.company-logo {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    margin: 10.6666666667px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border: none;
    display: block;
}

.company h4 {
    font-weight: 700;
    line-height: 1.25;
    margin: 0!important;
    font-size: 18px!important;
}

.company-title {
    background: #f42;
    color: #fff;
    padding: 10.667px 16px 10.667px 84px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0;
}

.funding-info {
    padding: 10.667px 16px 10.667px 84px;
    color: #000;
    background: rgba(255,68,34,.08);
    margin: 0;
}

.funding-amount {
    font-weight: 700;
    line-height
}

.funding-round {
    font-family: "Shentox";
    font-size: 14px;
    padding-top: 5px;
}

.investment-card {
    border-bottom: 1px solid #f42;
}

.category-venture,
.category-venture:visited {
    color: #555;
    background: rgba(255,68,34,.05);
    text-decoration: none;
    font-size: 13px;    
    display: block;
    padding: 5px 0;
}

.category-venture > i {
    color: #222;
    padding: 10px 10px 0 16px;
}

.category-venture > span:hover {
    color: #111;
    text-decoration: underline;
}

.story-byline {
    padding: 10px 16px 16px 16px;
    background: rgba(255,68,34,.05);
}

.byline-link,
.byline-link:hover,
.byline-link:focus {
    color: #555;
    font-size: 13px;
}

.story-title-source {
    color: #aaa;
    font-size: 12px;
}

/* New funding round styles end here */

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;
    margin-bottom: 60px;
}

.articles-by-cat {
    width: 368px;
}

.category-title {
    padding-bottom: 20px;
    font-size: 28px;
    font-family: "Avalon";
}

.category-title > a,
.category-title > a:visited {
    color: #f42;
}

.category-title > a:hover {
    color: #000;
}

.bg-container {
    width: 368px;
    height: 276px;
    background-image: url(../images/tnwconf-smalltop.jpg);
    background-size: cover;
}

.cat-story-link {
    height: 276px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0,0,0,.25) url('../images/image-gradient.png') no-repeat;
    background-size: 100% 100%;
}

.cat-header {
    color: #fff;
}

.most-popular{
    font-family: "Shentox";
    font-size: 12px;
    color: #fff;
}

.mp-title {
    font-family: "Avalon";
    font-size: 1.35em;
    color: #fff;
}

.mp-story-info > li {
    display: inline-block;
    padding: 0 3px 5px 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.cat-header h5,
.cat-header h2 {
    padding-bottom: 8px;
}

.latest-section-header {
    width: 368px;
    height: 96px;
    margin-top: 5px;
    padding: 14px 0 14px 14px;
    color: #f42;
    background-color: #fff4e8;
    display: flex;
    justify-content: space-between;
}

.latest-heading {
    font-family: "Shentox";
    font-size: 13px;
}

.latest-link {
    font-family: "Avalon";
    font-size: 14px;
    padding-top: 10px;
}

.latest-link a,
.latest-link a:visited {
    color: #f42;
}

.latest-link a:hover {
    text-decoration: underline;
    text-decoration-color: #ffe1c2;
}

.latest-img-link img {
    max-width: 100px;
}

.latest-stories {
    width: 368px;
    list-style-type: disc;
    list-style-position: inside;
}

.latest-stories > li {
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 14px 0 14px 14px;
    border-bottom: 1px solid #bbb;
}

.latest-stories > li > a,
.latest-stories > li > a:visited {
    color: #555;
}

.latest-stories > li > a:hover {
    color: #222;
}

/* Categories section ends here */

/* Latest deals/offers section starts below */

.deals-banner {
    font-family: "Avalon";
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.deals-banner a,
.deals-banner a,:visited {
    color: #f42
}

.deals-banner a:hover {
    color: #111;
    text-decoration: underline;
}

.deals-banner span {
    font-size: 0.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.offer-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.offer-list-item {
    max-width: 300px;
    max-height: 300px;
    padding: 12px 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.oli-bg > img {
    max-width: 275px;
    max-height: 210px;
}

.oli-link,
.oli-link:visited,
.oli-link:focus {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.oli-title {
    padding: 10px 0;
}

.oli-link:hover {
    color: #f42;
    text-decoration: underline;
    text-decoration-color: #ffe1c2;
}

.oli-price > li {
    display: inline;
    color: #666;
}

.oli-price > li:nth-of-type(1) {
    text-decoration: line-through;
    font-size: 14px;
} 

/* Ads end here */

/* Footer starts here */

.footer {
    width: 100vw;
    height: 260px;
    margin-top: 100px;
    color: #aaa;
}

.footer-links {
    height: 160px;
    padding: 42px 0 28px 0;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.share-links {
    display: flex;
    flex-direction: row;
}

.share-li {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #333;
    color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.share-li:hover {
    background-color: beige;
}

.share-img {
    height: 20px;
    width: 20px;
}

.footer-nav {
    font-family: "Shentox";
    font-size: 12px;
    margin-top: 20px;
}

.footer-nav > li {
    display: inline-block;
    padding: 0 5px;
}

.footer-nav a,
.footer-nav a:focus,
.footer-nav a:visited {
    text-transform: uppercase;
    color: #bbb;
}

.footer-nav a:hover {
    color: #fff;
}

.footer-legal {
    height: 100px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-legal > h6 {
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2;
    font-size: 14px;
}

/* Fin */
/* Media query for medium sized screen */

@media only screen and (max-width: 1024px) {
    .latest-list, .offer-list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
    }

    .large-story {
        justify-content: flex-end;
    }
    
    .deals {
        margin-bottom: 56px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 60px 240px;
        justify-content: space-between;
        grid-gap: 20px;
    }

    .funding-banner {
        grid-column: span 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .funding-rounds-nav li:nth-of-type(1) {
        margin-left: 0;
        padding-left: 0;
    }

    .company:nth-of-type(4) {
        display: none;
    }

    .categories {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
    }

    .dateandlogo {
        display: none;
    }
}

/* Media query for mobile screens */

@media only screen and (max-width: 768px) {
    .top-navbar,
    .center-left-nav {
        display: none;
    }

    .second-nav {
        display: block;
    }

    .center-right-nav {
        display: flex;
        width: 100px;
        float: right;
    }
    .center-right-nav > a {
        display: flex!important;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 48px;
        height: 48px;
        border-left: 1px solid #aaa;
    }

    .cover-story-container {
        height: 85vh;
        margin: 0 auto;
        padding: 4px;
        font-family: "Avalon";
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 4px;
    }
    
    .cover-story, 
    #large-cover {
        grid-row: span 1;
        grid-column: span 1;
    }

    .large-story {
        font-size: 1em;
        justify-content: flex-end;
    }

    .latest-list {
        grid-template-columns: 100vw;
        font-size: 0.6em;
    }

    .latest-list-item {
        display: grid;
        grid-template-columns: 100px 10px calc(100vw - 150px);
        grid-template-rows: repeat(3, 20px);
        grid-template-areas: 
            "image . story-title"
            "image . ."
            "image . author";
    }

    .lli-bg {
        grid-area: image;
        height: 65px;
    }

    .lli-bg img {
        max-width: 100%;
        height: 65px;
    }

    .lli-title {
        grid-area: story-title;
    }

    .lli-title * {
        font-size: 14px;
    }

    .lli-author-day {
        grid-area: author;
        margin-bottom: 5px;
    }

    .deals {
        margin-bottom: 56px;
        display: flex;
        flex-direction: column;
    }
    
    .funding-banner {
        margin-bottom: 20px;
    }

    .company {
        margin-bottom: 20px;
    }

    .company-funding, 
    .company-title,
    .funding-info,
    .investment-card,
    .story-byline {
        width: 90vw;
    }

    .funding-banner > a {
        margin-bottom: 20px;
    }

    .funding-rounds-nav ul {
        display: flex;
        flex-direction: column;
    }

    .funding-rounds-nav li {
        border: none;
        margin: 5px 0;
        padding: 0;
    }

    .categories {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        width: 100vw;
    }

    .articles-by-cat {
        width: 100vw;
        margin-bottom: 20px;
    }

    .bg-container,
    .cat-story-link,
    .latest-section-header,
    .latest-stories,
    .latest-stories > li {
        width: 95vw;
    }

    .latest-offers, .offer-list {
        display: flex;
        flex-direction: column;
    }

    .offer-list-item {
        display: grid;
        grid-template-columns: 75px calc(95vw - 85px);
        grid-template-rows: repeat(3, 25px);
        grid-column-gap: 10px;
    }

    .oli-bg {
        grid-column: span 1;
        grid-row: span 3;
        height: 75px;
        width: 75px;
    }

    .oli-bg > img {
        height: 100%;
        width: 100%;
    }

    .oli-title, .oli-link, .oli-price {
        font-size: 0.9em;
    }

    .oli-price {
        grid-row-start: 3;
        grid-row-end:  4;
        grid-column-start: 2;
    }
}



