*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Navbar */

.top-navbar {
    background-color: rgb(19, 19, 19);
    height:32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.top-main > li,
.top-right > li {
    display: inline-block;
    margin: 4px;
}

.top-navbar a,
.top-navbar a:visited {
    color: hsla(0,0%,100%,.6);
    text-decoration: none;
}

.top-navbar a:hover {
    color: #fff;
    text-decoration: none;
}

.second-nav {
    height: 48px;
    font-family: 'Oxanium';
    font-size: 13px;
    font-weight: 600;
    color: #aaa;
    padding: 7px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-left-nav {
    display: inline-block;
}

.second-nav li {
    display: inline-block;
    padding: 0 4px;
}

.center-left-nav a,
.center-left-nav a:visited,
.center-left-nav a:focus {
    text-transform: uppercase;
    text-decoration: none;
    color: #aaa;
}

.center-left-nav a:hover {
    color: #222;
}

.center-right-nav {
    display: flex;
    align-items: center;
}

.search {
    font-size: 1.3em;
}

.search:hover {
    color: #333;
}

#large-orange {
    color: #f42;
    font-size: 1.7em;
}

.center-right-nav a,
.center-right-nav a:hover,
.center-right-nav a:focus,
.center-right-nav a:hover {
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
}

.center-right-nav > li:nth-of-type(4) {
    padding: 0 8px;
}

.join-btn,
.join-btn:focus,
.join-btn:visited {
    background-color: #90c;
    font-family: Helvetica, sans-serif;
    line-height: 28px;
    padding: 0 12px;
    font-size: 11px;
    color: #eee;
    font-weight: 700;
    border-radius: 5px;
}

.join-btn:hover {
    background-color: #0cc;
}

#large-orange {
    color: #f42;
    font-size: 1.8em;
}

#nav-logo {
    width: 110px;
    height: 48px;
}

#tech-fest {
    background-color: #fff70a;
    width: 100%;
    height: 30px;
    padding: 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
}

#tech-fest a,
#tech-fest a:hover,
#tech-fest a:visited,
#tech-fest a:focus {
    text-decoration: none;
    color: #000;
}

/* Navbar(s) ends here */
/* Links to top/new articles */

.cover {
    height: 75vh;
    max-height: 560px;
    margin: 0 auto;
    padding: 4px;
    font-family: 'Lato';
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(3, 1fr);
}

.cover a,
.cover a:hover,
.cover a:focus,
.cover a:visited {
    display: flex;
    align-items: flex-end;
    background: rgba(0,0,0,.25) url('../image-gradient.png') no-repeat;
    background-size: 100% 100%;
    padding: 5% 3%;
    text-decoration: none;
    height: 100%;
    color: #eee;
    width: 100%;
    height: 100%;
}

.cover-story {
    grid-column: span 1;
    font-size: 10px;
}

.cover-story:nth-child(2n) {
    background-image: url(../tnwconf-smalltop.jpg);
    background-size: cover;
}

.cover-story:nth-child(3n) {
    background-image: url(../fb-smallbot.jpg);
    background-size: cover;
}


.cover-story h5 {
    font-family: 'Oxanium';
    font-size: 16px;
    padding: 2% 0;
}

.cover-story h2 {
    font-size: 3.4em;
    font-weight: 900;
    padding: 1% 0;
}

.cover-story ul {
    font-size: 1em;
    padding: 1% 0;
    color: #ccc;
}

.cover-story li {
    display: inline-block;
    padding: 4px;
}

#double-height {
    grid-row: span 2;
    grid-column: span 2;
    background-image: url('../airpod_bg.png');
    background-size: cover;
    font-size: 15px;
}

#double-height h5 {
    padding: 0;
}

/* Cover ends here */
/* More links section starts below */

.wrapper {
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
    font-family: 'Lato';
    padding-top: 4%;
    /* border: 2px solid black;
    height: 30vh; */
}

.latest {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.latestnews {
    grid-column: span 4;
}

.latestnews,
.latestnews:focus,
.latestnews:visited {
    font-weight: 900;
    font-size: 28px;
    color: #f42;
    text-decoration: none;
}

.latestnews:hover {
    color: #000;
}

.story {
    grid-row: span 1;
    grid-column: span 1;
    margin: 0;
    padding: 0;
    /* border: 0; */
    border: 1px solid black;
}